<p>
  В целом в IT почти 10 лет, работаю в ИТ комапании которая оказывает ИТ
  аусторсинг, сопроваждаем юридических лиц.<br>
  Обслуживаем инсталим сервера и отвечаем за безопасноть.<br>
  Но всегда мечтал быть программистом и придумывать крыте проекты <br>
  Мои скиллы следующие:
  <br></p>
<article>
  <ul>
    <li><p>
      Внедрение, настройка, оптимизация серверов 1С, на платформе Microsoft
      Windows/Linux;
    </p>
    </li>
    <li>
      <p>
        Администрирование MS SQL Server, PostgreSQL;
      </p>
    </li>
    <li>
      <p>
        Внедрение, настройка, администрирование серверов на платформе
        Windows Server/Linux;
      </p>
    </li>
    <li>
      <p>
        Внедрение, настройка, администрирование серверов ролей Active
        Directory, DCHP, DNS, FTP, File Server, RDP, RemoteApp, IIS, Apache,
        WSUS, VPN, Hyper-V, VMware Hypervisor, сервер печати, центр
        сертификации, двухaфакторная аутентификация;
      </p>
    </li>
    <li>
      <p>
        Внедрение, настройка, администрирование серверов мониторинга на
        платформе Zabbix, написание собственных шаблонов;
      </p>
    </li>
    <li>
      <p>
        Внедрение, настройка, администрирование серверов IP телефонии на
        платформе Asterisk;
      </p>
    </li>
    <li>
      <p>
        Виртуализация HyperV,VMware;
      </p>
    </li>
    <li>
      <p>
        Внедрение, настройка, администрирование Firewall, VPN на платформе
        Mikrotik;
      </p>
    </li>
  </ul>
</article>
<p>
  <h4> Я еще учился в платформе skillbox профессия datascience и выполнял
    следующие крутые проекты.</h4>
</p>
<article>
  <ul>
    <li>
      <p>
        Разработка telegram бота для образовательной организации.
        <a class="btn btn-info" href="https://github.com/nuclear0077/camp-bot"
          target="_blank" role="button">Проект
          на GitHub</a>
      </p>
    </li>
    <li>
      <p>
        Анализ базы данных покупок, совершенных в магазине за последние
        несколько лет.
      </p>
    </li>
    <li>
      <p>
        Подготовка аналитического отчета, который в дальнейшем поможет
        продюсерам образовательных программ эффективно выстраивать стратегию
        по модернизированию и улучшению курсов.
        <a class="btn btn-info"
          href="https://colab.research.google.com/drive/1N09BQeVjbv9V8L5UPCa1K6EE1TkMRrEC?usp=sharing"
          target="_blank" role="button">Аналитический отчет</a>
      </p>
    </li>
    <li>
      <p>
        Подготовка аналитического отчета для HR-отдела. На основании
        проведенной аналитики составление рекомендации для отдела кадров по
        стратегии набора персонала, а также по взаимодействию с уже
        имеющимися сотрудниками.
        <a class="btn btn-info"
          href="https://colab.research.google.com/drive/1JP3tjNQ86G5xy73usGyY6JRAU4lijGFF?usp=sharing"
          target="_blank" role="button">Отчет для HR-отдела</a>
      </p>
    </li>
    <li>
      <p>
        Исследование для компании мегафон.
        <a class="btn btn-info"
          href="https://drive.google.com/file/d/1hAhvQsBdqzcMBOyNpEnsK3V2Pr56-14s/view?usp=sharing"
          target="_blank" role="button">Презентация</a>
        <a class="btn btn-info"
          href="https://colab.research.google.com/drive/1IcPiiRLSn0-0_pR9vsmL9ABs17lgDPYx?usp=sharing"
          target="_blank" role="button">Ноутбук с исследованием</a>
      </p>
    </li>
    <li>
      <p>
        Анализ данных телекоммуникационной компании и прогнозирование оттока
        пользователей.
        <a class="btn btn-info"
          href="https://colab.research.google.com/drive/1O_1K7Ito_Jld4xUusg_5Bi8SATMbX8ZX?usp=sharing"
          target="_blank" role="button">Прогнозирование оттока клиентов</a>
      </p>
    </li>
    <li>
      <p>
        Создание собственных аналитических панелей для IP телефонии
        Asterisk, для выявление сезонности звонков, нагрузки на операторов,
        пропущенных звонков и dashboard для владельца бизнеса.
        <a class="btn btn-info"
          href="https://drive.google.com/file/d/1VKAtI8KccuNDLQzCYXiPVNlWaA1FFEgN/view?usp=sharing"
          target="_blank" role="button">Отчет PowerBI</a>
        <a class="btn btn-info"
          href="https://drive.google.com/file/d/1agbA102rMBzOxvhqbYCd_XV8jwXar33X/view?usp=sharing"
          target="_blank" role="button">Отчет PowerBI</a>
      </p>
    </li>
    <li>
      <p>
        Система по распознаванию эмоций в режиме реального времени.
        <a class="btn btn-info"
          href="https://drive.google.com/file/d/19_xx83iskUEVugxJU-2zj_Uj-hHAJ843/view?usp=sharing"
          target="_blank" role="button">Презентация</a>
        <a class="btn btn-info"
          href="https://github.com/nuclear0077/detections_of_emotions"
          target="_blank" role="button">Проект</a>
      </p>
    </li>
    <li>
      <p>
        Рекомендательная система для онлайн гипермаркета.
        <a class="btn btn-info"
          href="https://drive.google.com/file/d/18v-2LaFkk0wZbmKamiMwz6HGUq0Pet4L/view?usp=sharing"
          target="_blank" role="button">Презентация</a>
        <a class="btn btn-info" href="https://github.com/nuclear0077/RecSys"
          target="_blank" role="button">Проект</a>
      </p>
    </li>
  </ul>
</article>
